#archive{
  text-align: right;
  font-weight: bold;
  color: rgb(23,71,167)
}
#sidebar{
  list-style-type: none
}
#navigation {
  max-width: 180px;
  margin-left: -15px;
  }

#all{
  font-weight: bold;
}
#headertext{
  text-align: center;
}
.article-title{
  border: 1px solid rgb(168, 190, 178);
  background-color: rgb(213, 241, 225);
  font-size: 120%;
  font-weight: bold;
  padding-left: 10px;
}
.article-title1{
  border: 1px solid rgb(165,176,190);
  background-color: rgb(209,223,240);
  font-size: 120%;
  font-weight: bold;
  padding-left: 10px;
}
.article-title2{
  border: 1px solid rgb(164,156,179);
  background-color: rgb(210,198,229);
  font-size: 120%;
  font-weight: bold;
  padding-left: 10px;
}
.bluebox{
  border: 1px solid rgb(209, 223, 240);
  background-color: rgb(246, 250, 254);
  padding: 10px;
}
.links{
  color: rgb(23, 71, 167);
}
.container{
  margin: 50px;
}
.greenbox{
  border: 1px solid rgb(213,241,225);
  background-color: rgb(247, 255, 250);
  padding: 10px;
}
.purplebox{
  border: 1px solid rgb(219,207,239);
  background-color: rgb(249, 245, 254);
  padding: 10px;
  margin-top: 15px;
}
.pic-right{
  float: right;
}
